<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Odbiory {{ date }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_day.css') }}">
</head>
<body>
    <div id="day-container">
        <h1> Odbiory {{ date }}</h1>
        <table>
            <thead>
                <tr>
                    <th>Imię i Nazwisko</th>
                    <th>Rodzaj pracy</th>
                    <th>Opracowanie</th>
                    <th>Przestawienie</th>
                    <th>Wydruk</th>
                    <th>Wytłoczenie</th>
                    <th>Odebranie</th>
                    <th>Uwagi</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                <tr>
                    <td>{{ event.first_name }} {{ event.last_name }}</td>
                    <td>{{ event.description }}</td>
                    <td><input type="checkbox" class="status-checkbox" data-event-id="{{ event.id }}" data-status="opracowanie" {% if event.opracowanie %}checked{% endif %}></td>
                    <td><input type="checkbox" class="status-checkbox" data-event-id="{{ event.id }}" data-status="przestawienie" {% if event.przestawienie %}checked{% endif %}></td>
                    <td><input type="checkbox" class="status-checkbox" data-event-id="{{ event.id }}" data-status="wydruk" {% if event.wydruk %}checked{% endif %}></td>
                    <td><div class="wytloczenie-input" contenteditable="true" data-event-id="{{ event.id }}">{{ event.wytloczenie }}</div></td>
                    <td><div class="odebranie-input" contenteditable="true" data-event-id="{{ event.id }}">{{ event.odebranie }}</div></td>
                    <td><div class="uwagi-content" contenteditable="true" data-event-id="{{ event.id }}">{{ event.uwagi }}</div></td>
                    <td><button class="delete-btn" data-event-id="{{ event.id }}">Usuń</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/">Powrót do kalendarza</a>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>